.loader {
  position: fixed;
  top: calc(50% - 24px);
  left: calc(50% - 24px);
}

.loader__spin {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: var(--color-green) var(--color-green) transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  opacity: 0.5;
}

.loader__spin::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent var(--color-green) var(--color-green);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
    
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}