:root {
  --mobile-width: 320px;
  --mobile-width-only: 767px;
  --tablet-width: 768px;
  --desktop-width: 1280px;

  --desktop-offset: 50px;
  --mobile-offset: 20px;

  --font-family: 'Roboto', Arial, serif;

  --color-white: #ffffff;
  --color-text-main: #222222;
  --color-bg: #FAFAFA;

  --color-grey: #7D7D7DFF;
  --color-grey-light: #EBEBEB;
  --color-grey-dark: #7D7D7D;
  --color-green: #2EE5ACFF;
  --color-red: #E14164FF;
  --color-orange: #FF8346;
  --color-violet: #8585FFFF;
  --color-light-violet: #C2C2FFFF;

  --transition: all 0.2s ease-in-out;
}
