.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid var(--color-grey);
  padding: 10px;
  color: var(--color-grey);
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 600;
  width: min-content;
  height: min-content;
  min-height: 30px;
  min-width: 95px;
  transition: var(--transition);
  white-space: nowrap;
  background-color: var(--color-white);

  &:hover {
    transform: scale(0.98)
  }

  &:focus-visible {
    outline: 1px solid var(--color-grey);
  }
}